#boardTitle {
  align-content: center;
  font-size: larger;
  text-align: center;
  /* background-color: peru; */
  /* border-style: solid;
  border-width: 2px;
  border-color: chocolate; */
  font-family: "Smokum", cursive;
  font-size: 35px;
  font-weight: 700;
  border-radius: 5px;
  background: url("../../images/1aaasilverwinggfairy005.png") no-repeat;
  background-size: 100%;
  background-position: center;
  height: 60px;
}

.board-row {
  height: 60px;
}

.bountyContainer {
  border-color: rgb(61, 30, 2);
  border-style: solid;
  border-width: 15px;
  padding: 10px;
  margin: 10px;
  background: url("../../images/cork-board.png");
  margin-top: 70px;
}

.taskContainer {
  border-style: solid;
  border-width: 1px;
  border-color: chocolate;
  background-color: papayawhip;
  margin: 5px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
}
#taskName {
  margin: 3px;
}
#taskPoints {
  font-family: "Smokum", cursive;
  font-size: 30px;
  font-weight: 600;
}

#placeText,
#notesText {
  text-align: left;
}
.bounty-page {
  margin-top: 250px;
  /* min-height: 1000px; */
}

.bounty-board {
  margin-bottom: 70px;
}
/* .bounty-container {
  margin-bottom: 300px;

} */
.bounty-space {
  margin-bottom: 300px;
}
.container {
  height: 1000px;
}

.spacer {
  margin-top: 20px;
}
