#boardTitle {
  text-align: center;
  font-size: larger;
  background-color: peru;
  border-style: solid;
  border-width: 2px;
  border-color: chocolate;
  font-family: "Smokum", cursive;
  font-size: 35px;
  font-weight: 700;
  border-radius: 5px;
}

.bountyContainer {
  border-color: rgb(78, 60, 27);
  border-style: solid;
  border-width: 15px;
  padding: 10px;
  margin: 10px;
  background-color: burlywood;
}

.taskContainer {
  border-style: solid;
  border-width: 1px;
  border-color: chocolate;
  background-color: papayawhip;
  margin: 5px;
  margin-left: 15px;
  text-align: center;
}

body {
  background-image: url(https://ae01.alicdn.com/kf/H55ec287f566d4877977d5ac923e07ac03/Laeacco-Cartoon-Wild-West-Tavern-Background-Photo-Vinyl-Seamless-Photography-Backdrop-For-Photo-Studio.jpg_q50.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  
  


  
}





