.login-form {
  margin-bottom: 280px;
}
.jumbotron {
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
  color: black;
  cursor: pointer;
  width: 60%;
  border: 10px solid white;
  border-radius: 40px;
  margin: 0 auto;
}
.welcome-back {
  font-family: "Smokum", cursive;
  font-size: 60px;
  font-weight: 500;
  text-shadow: white 0px 0px 20px;
  animation: shakeY;
  animation-duration: 1s;
  margin-top: -30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Rye", cursive;
  text-shadow: white 0px 0px 20px;
  margin-bottom: 40px;
}

h5 {
  font-size: 34px;
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  animation: jello;
  animation-duration: 3s;
  animation-delay: .25s;
}
h6 {
  font-size: 20px;
  text-align: center;
  font-family: "Rye", cursive;
  animation: bounceInUp;
  animation-duration: 3s;
}
.disclaimer {
  font-size: 16px;
  text-align: center;
  font-family: "Rye", cursive;
  animation: bounceInUp;
  animation-duration: 3s;
  animation-delay: 0.5s;
}
label {
  font-size: 20px;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sign-in-btn {
  background-color: #990000 !important;
  border-color: white;
  color: #fff !important;
  display: inline-block;
  font-weight: 400;
  width: 110px;
  padding: 8px 0px;
  margin-left: 6px;
  margin-top: 10px;
}
.button:hover {
  background-color: white !important;
  color: #990000 !important;
  font-weight: 500;
  border-color: #3b0d0d;
  display: inline-block;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
