#formTitle,
#formBox {
  background-color: rgba(12, 12, 12, 0.497);
  color: white;
}
#addTask {
  margin: 5px;
  align-content: center;
}

#formTitle {
  font-size: 25px;
}

label {
  margin-right: 10px;
}

.delete-task {
  color: black;
  margin-left: 5px;
  border-color: rgb(78, 60, 27);
  border-width: 1px;
  border-radius: 5px;
  background-color: rgb(204, 32, 32);
  position: absolute;
  top: 0;
  right: 0;
}

.check-btn {
  background-color: rgb(41, 108, 7);
  border-color: rgb(78, 60, 27);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 5px;
}
